<!-- 検索フォーム   -->

{% extends "layout.html" %}
{% block content %}
<form action="http://www.goo.ne.jp/default.asp">
<input type=text name="MT" size=20>
<input type=submit value="検索" name="act.search">
<input type="hidden" name="SM" value="MC">
<input type=hidden name="RD" value="DM">
<input type=hidden name="Domain" value="www.tohoho-web.com">
<input type=hidden name="Path" value="">
<input type=hidden name="from" value="USR">
<input type=hidden name="DC" value="50">
(by <a href="http://www.goo.ne.jp">Goo</a>)
</form>


<ul class="list-syllabary-ja">
<li><a href="#">あ</a></li>
<li><a href="#">い</a></li>
<li><a href="#">う</a></li>
<li><a href="#">え</a></li>
<li><a href="#">お</a></li>
<li><a href="#">か</a></li>
<li><a href="#">き</a></li>
<li><a href="#">く</a></li>
<li><a href="#">け</a></li>
<li><a href="#">こ</a></li>
<li><a href="#">さ</a></li>
<li><a href="#">し</a></li>
<li><a href="#">す</a></li>
<li><a href="#">せ</a></li>
<li><a href="#">そ</a></li>
<li><a href="#">た</a></li>
<li><a href="#">ち</a></li>
<li><a href="#">つ</a></li>
<li><a href="#">て</a></li>
<li><a href="#">と</a></li>
<li><a href="#">な</a></li>
<li><a href="#">に</a></li>
<li><a href="#">ぬ</a></li>
<li><a href="#">ね</a></li>
<li><a href="#">の</a></li>
<li><a href="#">は</a></li>
<li><a href="#">ひ</a></li>
<li><a href="#">ふ</a></li>
<li><a href="#">へ</a></li>
<li><a href="#">ほ</a></li>
<li><a href="#">ま</a></li>
<li><a href="#">み</a></li>
<li><a href="#">む</a></li>
<li><a href="#">め</a></li>
<li><a href="#">も</a></li>
<li class="next-kana-empty"><a href="#">や</a></li>
<li class="next-kana-empty"><a href="#">ゆ</a></li>
<li><a href="#">よ</a></li>
<li><a href="#">ら</a></li>
<li><a href="#">り</a></li>
<li><a href="#">る</a></li>
<li><a href="#">れ</a></li>
<li><a href="#">ろ</a></li>
<li><a href="#">わ</a></li>
</ul>




{% endblock %}
