{% extends "header.html" %}
{% block sake %}
<font size="3" >
お酒にはどんな種類がある？もっとお酒を楽しむための基礎知識を紹介

「お酒ってどんな種類があるんだろう？」
「いろんなお酒があるけど、どんなふうに分類できるのかな？」
このように気になっている方もいらっしゃるのではないでしょうか。

スーパーやコンビニで見かける身近なものだけでなく、専門店やデパートのお酒売り場に足を運ぶと世界各地から集められたたくさんのお酒が並んでいます。

なかには日本では知られていなかったり、手に入れるのが困難だったりするものもあり、世界には数え切れないほどのお酒があるといえるでしょう。

非常にたくさんの種類があるお酒ですが、実はおよそ3種類に大別することができます。

この記事ではお酒の分類と、代表的なお酒の種類について解説します。

お酒の種類や文化的な背景を知っておくことで、さらにお酒が楽しめるようになるはずですよ。

１．お酒の基礎知識
「お酒って、そもそもなんのことなんだろう？」
古今東西、お酒はさまざまなコミュニティーのなかで造られ飲まれてきました。

お酒はさまざまな国の多様な民族が自然と共生するなかで知恵と努力によって生み出した結晶だといえるでしょう。

それらに共通していえるお酒の定義はあるのでしょうか。

またお酒はどのように分類できるのでしょうか。

まずはお酒の定義と分類についてご説明しましょう。

１-１．お酒の定義
ビールやワイン、日本酒などよく知られたものから日本ではなじみのないものまで、世界には非常にたくさんのお酒が存在しています。

これらのお酒に共通していることといえば、「アルコール」が入っているということでしょう。

お酒そのものを指す言葉として使われることもあるアルコールは、本来は酵母菌が糖分を分解し発酵させる過程で生じる成分のことです。

お酒に含まれているアルコールは「エチルアルコール」、もしくは「エタノール」といいます。

お酒を飲むと酔ってしまうのはこのアルコールの作用によるもので、成分が体の中で分解されるまで酔った状態は続きます。

[メモ]
アルコールランプや消毒用アルコールに含まれている「メチルアルコール」あるいは「メタノール」は燃料用のアルコールでエタノールとは異なります。メタノールは人体にとって毒であるため、飲むことはできません。
なお、お酒の種類によってアルコールの度数は大きく異なりますが、日本においては「酒税法」によって「アルコール分が1度以上の飲料」がお酒であると定義付けられています*1。

*1　酒税法
１-２．お酒の分類
さまざまな種類のあるお酒ですが、製法によって3種類に大別できます。

製法によるお酒の三分類
酵母菌によって発酵されたものをそのまま飲む「醸造酒」と、醸造酒を加熱し蒸留して作られる「蒸留酒」、醸造酒や蒸留酒に果実や香料、糖などの副原料を加えて作られる「混成酒」です。

醸造酒の代表的なものとしてはワイン、ビール、日本酒などが挙げられます。

また蒸留酒には、焼酎、ウイスキー、ブランデー、ウォッカ、ラムなどがあります。

混成酒には梅酒などの果実酒やリキュールが該当します。

味や見た目が全く違うお酒であっても、製法から分類すると同じグループに当てはまるのですね。

次の章からは、お酒の分類を代表的なお酒とともにご紹介します。

[メモ]
日本で使われているお酒の分類法は、製造法による分類と酒税法による分類に大別されます。例えば製造法によって分類した場合、ビールは「発泡性酒」のうちの「ビール」に該当しますが、ここでは分かりやすいよう基本的には製造法による分類に則って代表的なお酒をご紹介します。
２．醸造酒
醸造酒は、原料に含まれている糖（もしくは糖に分解できるでんぷんなどの成分）を酵母菌に発酵させることで作られるお酒です。

果実を原料とするものと、穀物を原料とするものに大別できるといえるでしょう。

まずは代表的な醸造酒についてご説明します。

２-１．ワイン
ワイン
主に西欧諸国で発展してきたワインは醸造酒の代表例です。

大変歴史が長く、古代エジプトの壁画や旧約聖書にも登場しています。

原料となるぶどうは有史以前から自生していました。

ワインの起源は、食料として保存されていたぶどうが自然に潰れ、そこから出た果汁が発酵してアルコールを含む液体になっていたものだといわれています。

[メモ]
ワインは原料であるぶどうそのものに糖分が含まれているため、酵母を加えるだけで発酵が起き、アルコールが発生することで作られます。これを「単発酵」といいます。
ワインは製造法によってさらに「スティルワイン（非発泡性ワイン）」、「スパークリングワイン（発泡性ワイン）」、「フォーティファイド・ワイン（酒精強化ワイン）」、「フレーバード・ワイン（香味付けワイン）」に分類できます。

スティルワインは、一般的に「ワイン」というときにイメージされる炭酸ガスを含まないワインです。

黒ぶどうの実を皮や種ごと発酵させて作られる赤ワイン、主に白ぶどうを用いて皮を取り除いたぶどうの果汁のみを発酵させて作られる白ワイン、赤ワインと同じ黒ぶどうを材料として発酵途中で果皮を取り出して作るロゼワインの3種類に大別できます。

スパークリングワインは炭酸ガスが含まれている発泡性のワインです。

産地や原料、製法などでさらに細かく分類されています。

よく知られている「シャンパン」は、フランスのシャンパーニュ地方で作られているスパークリングワインの一種です。

一度発酵が終わった白ワインを瓶に詰めてから糖分と酵母を加え、瓶の中で再び発酵させて炭酸ガスを生じさせることで作られており、規定を満たしたものだけが「シャンパーニュ（シャンパン）」を名乗れます。

そのほかにも、イタリアで製造される「スプマンテ」やスペインの「エスプモーソ」、ドイツの「シャウムヴァイン」などがあります。

フォーティファイド・ワインは醸造過程のワイン、もしくは完成したワインにブランデーなどを添加してアルコール度数を上げ、コクや保存性を高めたものです。

スペインのシェリー酒やポルトガルのポートワインなどがよく知られています。

フレーバード・ワインはスティルワインに薬草や果汁、香辛料、甘味料などを加え、独特の風味を付けたものです。

スペインのサングリアやイタリアのベルモットなどが有名です。

[メモ]
フレーバードワインやフォーティファイドワインは、厳密にはワインをベースにした混成酒に当たります。
またそのほかに、ぶどう以外の果実で作った醸造酒も「フルーツワイン」と呼ばれています。

りんごやもも、さくらんぼ、いちご、キウイなどの果実を搾り、果汁に酵母を加え発酵させて作られています。

フルーツワインのなかでもフランスを起源としたりんごから作られるお酒「シードル」は古くから愛されています。

２-２．ビール・発泡酒
ビール・発泡酒
ビールや発泡酒も醸造酒の仲間です。

まずはビールについて解説しましょう。

ビールの原料に「麦芽（モルト）」と呼ばれるものが使われていることは皆さんご存じかもしれませんね。

麦芽とは発芽させた二条大麦という種類の大麦を芽と根を取り除いて乾燥させ、さらに熱風で「焙燥」（乾燥・焙煎）したもののことです。

麦芽
事前に発芽させておくことで、大麦の持っている「アミラーゼ」というでんぷんを分解する酵素が活発になるのです。

ビール作りの過程では、まずは麦芽を機械で細かく粉砕することから始まります。

粉砕した麦芽をお湯と混ぜ、かく拌しながら温度を上げていくとアミラーゼのはたらきによってでんぷんが糖へと変化し、おかゆ状のペーストができます。

これをろ過したものがビールの元となる「麦汁」です。

麦汁ができたら独特の匂いや苦味をもたらす「ホップ」を加え、さらに煮沸します。

ホップは多年生のツル科の植物の雌花で、ビールに風味を付ける他、麦汁のたんぱく質を沈澱・分離させビールを澄んだものにしたり、雑菌の繁殖を抑えたりビールの泡持ちを良くしたりするはたらきも担っています。

ホップ
麦汁にホップの風味が移ったら、冷やしながら発酵タンクに移し替え、そこに酵母を加えます。

酵母が麦汁に含まれる糖分を分解し、アルコールと炭酸ガスを生み出すのです。

[メモ]
ビールの製造過程においては、でんぷんを糖に分解する工程「糖化」と、できた糖を酵母によって発酵させる工程を分けて行います。これを「単行複発酵」といいます。
多くのビールは発酵のさせ方によって「ラガー」と「エール」の2種類に大別できます。

ラガーとは低温で長期間発酵させる方法で作られるビールのことで、この発酵方法は酵母が麦汁の下に沈んでいくために「下面発酵」と呼ばれています。

下面発酵は雑菌が繁殖しづらく品質を一定に保ったままビールを作れるという特徴を持っており、大量生産向きの製法だといえます。

世界で飲まれているビールの7割を占めるといわれており、日本でも広く飲まれているビールの大半はラガーの一種、「ピルスナー」です。

喉越しがよく、ゴクゴク飲めるのが特徴です。

一方エールではやや高温であまり時間をかけずに発酵させる方法が採られており、こちらは酵母が麦汁の上に浮き上がってくるため「上面発酵」と呼ばれます。

大量生産には不向きですが、味わい深く飲み応えがあるのが特徴です。

エールには色が淡くホップや麦芽の香りが強い「ペールエール」などがあります。

[メモ]
手間がかかるためあまり多くは作られていませんが、自然の酵母を使った「自然発酵」というやり方で作られたビールもあります。
世界の主なビールは、以下のように分類できます。

世界の主なビール
国税庁「ビール・発泡酒に関するもの」をもとに執筆者作成
さて、

「ビールと発泡酒って何が違うの？」
と気になっている方もいらっしゃるのではないでしょうか。

結論からお伝えするとビールと発泡酒は酒税法による分類が異なるのです。

日本では他国とビールの定義が異なるため、輸入ビールやクラフトビールのなかには「発泡酒」として売り出されているものもあります。

上に挙げたビールの分類に当てはまっていても、日本では法律上ビールとして扱われない場合があるのですね。

日本においては、使用原料と麦芽の使用割合によってビールと発泡酒が区別されています。

ビールとは麦芽・ホップ・水を原料として発酵させたものか、麦芽・ホップ・水および麦や米、果実、コリアンダーなどの特定の副原料を使用して発酵させた麦芽の使用割合が50％以上のものを指します。

一方発泡酒とは原料の一部に麦芽か麦を使用した発泡性のある種類のことで、具体的には麦芽の使用割合が50％未満のもの、ビールの製造に認められない原料を使用したもの、麦芽を使用せずに麦を使用したものなどが該当します。

[メモ]
麦芽の使用割合とは、水やホップ、酵母を除いた原材料のうちで麦芽がどれだけを占めているのかを表す数値です。なお発泡酒には麦芽の使用割合によって3種類の税率が適用されています。
２-３．日本酒
日本酒
日本酒と呼ばれるお酒の多くは醸造酒に当てはまるといえます。

日本酒は米・米こうじ・水を主な原料として、その名のとおり日本特有の製法で造られたお酒です。

起源をたどると縄文時代から弥生時代までさかのぼるといわれるほど長い歴史があります。

日本酒は「燗（かん）してよし、冷やしてよし」といわれ、温めても冷やしても飲むことができるという特徴を持っています。

[メモ]
日本酒の製造過程では、材料となる米のでんぷんを糖化させる工程と糖を発酵させアルコールを発生させる工程が同時に進められます。これを「並行複発酵」といいます。
一般的に日本酒と呼ばれるお酒は、酒税法上は概ね「清酒」に分類されます。

清酒とはアルコール分が22度未満で、米・米こうじ・水を原料として発酵させてこしたもの、もしくは米・米こうじ・水と清酒かすやその他特定の材料を原料として発酵させてこしたもの*2を指します。

清酒は、原料や米の精米歩合（玄米から表層部を削りどれだけ残っているか）によって分類されます。

【清酒の分類（特定名称）】
分類	原料	精米歩合	こうじ米使用率	要件
吟醸酒	米・米こうじ・醸造アルコール	60％以下	15％以上	吟醸造り、固有の香味・色沢が良好（無色透明に近い）
大吟醸酒	米・米こうじ・醸造アルコール	50％以下	15％以上	吟醸造り、固有の香味・色沢が特に良好
純米酒	米・米こうじ	-	15％以上	香味・色沢が良好
純米吟醸酒	米・米こうじ	60％以下	15％以上	吟醸造り、固有の香味・色沢が良好
純米大吟醸酒	米・米こうじ	50％以下	15％以上	吟醸造り、固有の香味・色沢が特に良好
特別純米酒	米・米こうじ	60％以下
または特別な製造方法	15％以上	香味・色沢が特に良好
本醸造酒	米・米こうじ・醸造アルコール	70％以下	15％以上	香味・色沢が良好
特別本醸造酒	米・米こうじ・醸造アルコール	60％以下
または特別な製造方法	15％以上	香味・色沢が特に良好
国税庁「酒類販売管理研修モデルテキスト（平成29年4月）　第2編　酒類の商品知識等　第1章　酒類の商品知識等」をもとに執筆者作成
醸造アルコールとは
でんぷん質の物や糖質を含む物を原料として発酵させ蒸留したアルコールのことです。日本酒を作る過程で醸造アルコールを適量添加することで、香りが高くすっきりした味になるといわれています。
吟醸造りとは
吟味して醸造することを意味し、伝統的に、より精米した白米を低温でゆっくり発酵させ特有の芳香が出るように醸造することをいいます。
一般的には精米歩合が高い米から作られた日本酒の方が、華やかで香り高いものになるといわれています。

また「清酒」というと澄んだお酒が思い浮かぶかもしれませんが、酒税法上は白く濁っている「濁り酒」も清酒に該当します。

一般的な日本酒は水と米、米こうじを発酵させた「もろみ」をこすことで透明な状態になっており、清酒の定義にも「こしたもの」とあります。

濁り酒はもろみを粗ごししたものなので、定義上「清酒」に分類されます。

一方白く濁った見た目は似ていても、「どぶろく」はこしておらず、もろみが入ったままのものなので清酒には該当しません。

[メモ]
「日本酒」と呼ばれるもののなかには一部醸造酒ではないものも含まれます。米騒動により米が入手困難になったことで日本酒に似せて作られた「合成清酒」は、アルコールや焼酎、清酒に糖類やアミノ酸類、食塩などのさまざまなものを混ぜているため、醸造酒ではなく混成酒に該当します。
*2　酒税法
３．蒸留酒
蒸留酒とは、醸造酒や醸造酒の副産物などアルコールを含有する液体を蒸留して作った酒類のことです。

蒸留工程では原料となる醸造酒などを加熱して蒸発させ、その蒸気を冷やすことでアルコール分を中心とする成分を液体にして集めます。

蒸留酒は醸造酒よりもアルコール度数が高い傾向にあり、そのまま飲むのではなく、氷を入れたグラスに注いで「ロック（オンザロック）」にしたり、水やお湯、ソフトドリンクなどで割ったりして飲むことが一般的です。

３-１．焼酎
焼酎
蒸留酒に分類される焼酎は、製法によって大きく「焼酎乙類（おつるい）」「焼酎甲類（こうるい）」「混和焼酎」の3種類に分けられます。

かつて「旧式焼酎」とも呼ばれた焼酎乙類の歴史は古く、15世紀中ごろにシャム国（現在のタイ）から琉球王国に伝わったものが16世紀に鹿児島に上陸し、徐々に北へと伝わっていったといわれています。

焼酎乙類の主原料は麦、さつまいも、米、そば、黒糖、じゃがいも、さといも、やまいも、くり、とうもろこし、酒かす、米ぬかなど非常に多岐にわたります。

米こうじのみを原料とする沖縄の伝統的なお酒「泡盛」も焼酎乙類の一種です。

焼酎乙類の蒸留は「単式蒸留機」という仕組みがシンプルな機械を用いて一、二回行われます。

そのため蒸留後も原料特有の風味や味わいが残されるのが特徴です。

ロックやお湯割りなどの飲み方で飲むとよりいっそう焼酎本来の味と香りを楽しめるといわれていますよ。

また焼酎乙類は「本格焼酎」と呼ばれることもあります。

[メモ]
焼酎乙類は酒税法上は「単式蒸留焼酎」といい、単式蒸留機を用いたアルコール分45度の焼酎*3と定義付けられています。
伝統的な焼酎に対して、新しく登場したのがかつて「新式焼酎」とも呼ばれた焼酎甲類です。

1830年にアイルランドで開発された「連続式蒸留機」を用いて製造する焼酎で、日本で初めて作られたのは1900年ごろであるといわれています*4。

焼酎甲類は原料となる糖蜜などに水と酵母を加え、蒸留機でアルコール分96度ほど*4の原料用アルコールを作ってから水を加えることでアルコール度数を下げて製造されます。

繰り返し蒸留したことによるくせのないピュアな味わいが特徴です。

無色透明で味にくせがないため、酎ハイやサワー、カクテル、果実酒や薬用酒など非常に多様な楽しみ方ができます。

[メモ]
焼酎甲類は酒税法上は「連続式蒸留焼酎」といい、連続式蒸留機を用いたアルコール分36度未満の焼酎*3と定義付けられています。
混和焼酎は、焼酎乙類と焼酎甲類を混合したものです。

乙類の香りや風味と、甲類のくせのなさという互いのメリットを楽しめます。

*3　酒税法
*4　国税庁「酒類販売管理研修モデルテキスト（平成29年4月）　第2編　酒類の商品知識等　第1章　酒類の商品知識等」
３-２．ウイスキー
ウイスキー
ウイスキーも蒸留酒の一種です。

ウイスキーとは、一般的に穀類を原料として糖化・発酵の過程を経たのちに蒸留を行い、木製の樽で貯蔵・熟成させて造るお酒のことを指します。

[メモ]
原料、製法、熟成年数などの細かな定義は国によって異なります。
ウイスキーの起源は、ビールと同じ麦芽（モルト）を原料とし、スコットランドで生まれた「モルトウイスキー」だといえるでしょう。

12世紀末のアイルランドではすでに穀物を原料とする蒸留酒があり、15世紀末にはスコットランドで麦芽を原料とした蒸留酒が造られていた記録が残っていますが、当時は樽で貯蔵しない無色透明なお酒が一般的でした。

現在のウイスキーのもととなるお酒が生まれたのは、18世紀、イングランドがスコットランドを併合した後のことだといわれています*5。

密造者たちが過酷な課税を逃れるべく工夫を凝らし、モルトウイスキーの製造法が誕生したのです。

19世紀に連続式蒸留機が登場すると、麦やとうもろこしといった穀物を原料とするくせのない「グレーンウイスキー」が生まれました*5。

その後ウイスキーの主流はモルトウイスキーとグレーンウイスキーをブレンドした「ブレンデッドウイスキー」となっています。

[メモ]
ブレンデッドウイスキーは複数種類のモルトウイスキーにグレーンウイスキーをブレンドして造るのが一般的です。
原料別ウィスキーの種類
ウイスキーの最大の特徴ともいえるのが、木製の樽での貯蔵・熟成です。

樽の中で長い時間をかけて熟成させることで、ウイスキー特有のまろやかで深いコクが生まれます。

現在、技術・品質・生産量などの観点から高い評価を受けている5つの国と地域で生産されたウイスキーは「5大ウイスキー」と呼ばれており、それぞれに異なる特色を持っています。

【5大ウイスキーとその特徴】
呼称	原産	原料	特徴
スコッチウイスキー	スコットランド	大麦麦芽	麦芽を乾燥させる際に用いる「ピート（泥炭）」のスモーキーな香り
アイリッシュウイスキー	アイルランド	主原料：大麦麦芽
副原料：ライ麦、小麦	熟成期間が比較的短いため穏やかでまろやかな味わい
アメリカンウイスキー	アメリカ	ライ麦、とうもろこし、小麦、大麦などを混合	独特の甘さ、ケンタッキー発祥のとうもろこしを主原料とした「バーボンウイスキー」が有名
カナディアンウイスキー	カナダ	主原料：ライ麦
副原料：小麦、大麦、とうもろこしなど	ブレンデッドウイスキーが主流、ライトな味わい
ジャパニーズウイスキー	日本	主原料：大麦麦芽
その他の穀類	多様な原酒をブレンドした特有の味わい
日本洋酒酒造組合 洋酒の用語集「ウイスキー」をもとに執筆者作成
またウイスキーは多様な飲み方ができるのも特徴の一つです。

ロックや水割りでウイスキー本来の味わいを楽しむ他、炭酸水で割るハイボールなどカクテルの材料としても使われます。

[メモ]
ウイスキーの飲み方についてもっと詳しく知りたいという方はこちらの記事をご覧ください。
*5　国税庁「酒類販売管理研修モデルテキスト（平成29年4月）　第2編　酒類の商品知識等　第1章　酒類の商品知識等」
３-３．ブランデー
ブランデー
ブランデーは、もともとワインを原料とした蒸留酒です。

イタリア、スペイン、南フランスの各地で12〜14世紀ごろに作られるようになりました*6。

初期には樽での貯蔵を行わず、無色透明の状態で薬として使用することが一般的だったようです。

現在のブランデーの起源となったのは17〜18世紀にフランスのコニャック地方で生産が始まったものです*6。

19世紀に樽による熟成が本格化*6すると、コニャックはブランデーの生産地として世界的に知られるようになりました。

日本国内でも昭和30年代ごろからブランデーが作られています*6。

ブランデーの原料には酸度の高い白ぶどうが適しているとされています。

ぶどうを原料とし大樽で発酵させるところまではワインの作り方と同様ですが、ブランデーは二度の蒸留過程を経ることでアルコール度数が高められます。

また蒸留したばかりのブランデーは無色透明ですが、樽で熟成させることにより琥珀（こはく）色になり、特有の豊かな香りと味わいを得るのです。

またぶどうの搾りかすやぶどう以外の果実を原料としたブランデーも世界各地で作られています。

ぶどうの搾りかすなどを原料として作られるブランデーはフランスでは「マール」、イタリアでは「グラッパ」と呼ばれており、豊かなぶどうの香りが特徴です。

ぶどう以外の果実を原料としたものとしては、フランスのノルマンディー地方カルヴァドス県で作られる「カルヴァドス」が有名なりんごのブランデー、ドイツの「キルシュワッサー」が知られているさくらんぼのブランデー、フランスやドイツ、中央ヨーロッパで作られるプラムのブランデーが代表的です。

また西洋なしや木いちご、みかん、メロンなどを原料としたブランデーもあります。

ブランデーは本来の香りや味を楽しむため、「スニフター」というチューリップ型のグラスでそのままストレートで飲む方法が知られています。

グラスを手のひらで温めるようにして立ち上る香りを楽しみましょう。

ただし度数が高いため、お酒を飲み慣れていない方はまずは水割りやロック、カクテルの材料として楽しむのが良いかもしれませんね。

*6　国税庁「酒類販売管理研修モデルテキスト（平成29年4月）　第2編　酒類の商品知識等　第1章　酒類の商品知識等」
３-４．ジン・ウォッカ・ラム・テキーラ
ジン・ウォッカ・ラム・テキーラ
ジンやウォッカ、ラム、テキーラも蒸留酒の仲間です。

それぞれ4種類についてこれから詳しく解説していきましょう。

[メモ]
日本の酒税法においてはウイスキー・ブランデー・焼酎・原料用アルコールを除いた蒸留酒は「スピリッツ」とされています。ここでは、スピリッツの代表例をご紹介します。
３-４-１．ジン
ジン
ジンは穀類を原料とした蒸留酒に植物の実や葉、根、樹皮などを浸し、再度蒸留した無色透明のお酒です。

苦みと甘みのある独特の香りは「ジュニパーベリー（セイヨウネズ）」の実によるものです。

ジュニパーベリー（セイヨウネズ）
ジンはもともと17世紀のオランダで薬として開発されたもの*7で、ジュニパーベリーを意味する「ジュニエーブル」という名前が付けられていました。

しかしジュネーブと混同されたため「ジュネバ」となり、のちにイギリスに渡ってさらに短く「ジン」と呼ばれるようになったといわれています。

トニックウォーターで割って飲む「ジン・トニック」や炭酸水とライム果汁で割る「ジン・リッキー」、ジンジャーエールとレモン果汁で割る「ジン・バック」など、手頃なカクテルで楽しむのが人気です。

その他にも「カクテルの帝王」と呼ばれる「マティーニ」など、多様なカクテルの材料として愛されています。

もちろんストレートやロック、炭酸水割りなどでお酒本来の香りを楽しむこともできますよ。

*7　日本洋酒酒造組合「スピリッツ（ジン・ラム・ウォッカ）」
３-４-２．ウォッカ
ウォッカ
ウォッカはとうもろこし・小麦・大麦などの穀類、じゃがいもなどのいも類を原料とした蒸留酒を、白樺の炭でろ過したお酒です。

12世紀頃からロシアの農民の間で飲まれていたという説や、11世紀頃のポーランドにはすでに存在していたという説がありますが、歴史上確かな事実としては13世紀から16世紀にかけて存在したモスクワ公国の記録にウォッカに関する記述が残されています*8。

名前の由来にも諸説ありますが、12世紀前後の東欧で生まれていたとすればヨーロッパ最古の蒸留酒であるといえるかもしれません*8。

ウォッカは無色透明でほとんどくせがないため、カクテルのベースとしてよく使われます。

非常に飲みやすいためつい飲み過ぎてしまうことで知られるカクテル「スクリュー・ドライバー」はウォッカをオレンジジュースで割ったものです。

またヨーロッパやロシアにはハーブや香料などで香味を付けたフレーバードウォッカもあります。

*8　特定非営利活動法人 プロフェッショナル・バーテンダーズ機構「ウォッカの歴史（1）」
３-４-３．ラム
ラム
ラムはサトウキビの搾り汁を煮詰め砂糖を結晶化した後の「糖蜜」を原料とした蒸留酒で、カラメルのような香ばしさと甘みが特徴です。

カリブ海諸国のキューバ、ジャマイカ、プエルトリコなどが本場です。

ラムは原料や発酵方法、蒸留方法、貯蔵期間などの違いから「ヘビーラム」「ライトラム」「ミディアムラム」の3種類に分類できます。

ヘビーラムは香りが強くコクのある風味豊かな味わいと濃い褐色が特徴で、ジャマイカ産のものが有名です。

ライトラムはキューバやプエルトリコ産のものが多く、柔らかでデリケートな風味が特徴で無色から淡い黄色をしています。

ミディアムラムは両者の中間的な性質を持っており、フランス系植民地であったマルティニーク島やグァドループ島などで多く生産されています。

また色によって、無色または単色のものをホワイトラム、濃褐色のものをダークラム、中間的な色合いのものをゴールドラムとする分類もあります。

ヘビーラムまたはダークラムは製菓用としての需要が高く、ホワイトラムは癖がない分、カクテルベースとして広く使われています。

ライムを絞ったグラスを使ってコーラでラムを割るカクテル「キューバ・リブレ」や、ホワイトラムをベースとしてミントとライムで爽やかに仕上げる「モヒート」などのカクテルが人気です。

３-４-４．テキーラ
　　　　　　　　　　　　　　　　　　　
テキーラ
テキーラはメキシコ原産のりゅうぜつらんという植物の一種である「アガベ アスール テキラーナ」の茎を原料とした蒸留酒です。

テキーラという名前はその産地であるメキシコ高原北部のハリスコ州テキーラ村に由来しています。

16世紀の初めにスペイン人によって持ち込まれた蒸留技術により「メスカル」という蒸留酒が生まれ、メキシコ各地に広まりました*9。

そのなかでもテキーラ村のものが評判となってテキーラと呼ばれるようになったのです。

一般的なテキーラは無色透明な「シルバーテキーラ」と呼ばれるものですが、なかにはオーク樽で熟成することで琥珀色になった「ゴールドテキーラ」もあります。

メキシコの伝統的なスタイルでは、テキーラは塩とライムを合わせて飲まれます。

またボトルごと冷凍庫で冷やしたテキーラを小さなグラスに注いでそのままショットで飲むスタイルや、ストレートで芳醇（ほうじゅん）な香りを楽しむスタイル、よりまろやかな味わいを楽しめるロックで飲むスタイルもおすすめです。

その他、「テキーラ・サンライズ」や「マルガリータ」といったカクテルのベースとしても人気ですよ。

*9　日本洋酒酒造連合「洋酒の用語集 ［スピリッツ］（ジン・ウォッカ・ラム）　テキーラ」
４．混成酒
混成酒は醸造酒や蒸留酒などをもとに、これらを混ぜ合わせたり、糖類や香味料などを加えたりして作られたお酒のことです。

「再製酒」とも呼ばれます。

酒税法上は合成清酒、みりん、リキュールなどが混成酒に該当しますが、ここではお酒として飲まれる代表的な混成酒をジャンルごとにご紹介しましょう。

４-１．梅酒などの果実酒
梅酒などの果実酒
混成酒の例としてよく挙げられるのが梅酒です。

梅酒は焼酎などの酒類に梅の実と糖類を漬け、数カ月から数年熟成させて作られるお酒です。

ロックやストレートで楽しむ他、ソーダやお湯で割ったり、カクテルのベースとして用いたりとさまざまに楽しめます。

梅は中国を原産とするバラ科の植物で、日本には弥生時代に渡来しました。

実はそのままでは食べられませんが、江戸時代には広く保存食や家庭薬として梅干しや梅酒の形で利用されていたといわれており、元禄時代に書かれた「本朝食鑑」という文献にも梅酒の作り方が記されています*10。

梅酒の他にも、ゆずなどの柑橘（かんきつ）類やあんず、かりん、ももなど、果実と糖類をお酒に漬けて作られる果実酒は多数存在します。

[メモ]
酒税法上はここで紹介している梅酒などの果実酒はリキュールに該当します。また酒税法上は「果実酒」はワインなどの果実から作られる醸造酒のことを指しますが、ここでは酒類に果実と糖類を漬け熟成させて作られるお酒のことを果実酒としています。
またホワイトリカー（焼酎甲類の一種）を使って自宅で果実酒を漬けることもできますよ。

ホワイトリカー果実漬け
[メモ]
詳しくは日本蒸留酒酒造組合の「果実酒くらぶ レシピNAVI」をご覧ください。
*10　日本洋酒酒造組合「梅酒とは」
４-２．リキュール
リキュール
リキュールとは一般的にベースとなるお酒（一般的にはスピリッツ）に果物やハーブ、花などの香味を付け、砂糖やシロップで甘みを加えたり、着色したりしたもののことです。

[メモ]
日本の酒税法では種類と糖類、その他の物品を原料としてエキス分が2度以上のもの*11と定義付けられています。
リキュールはさまざまな薬草をワインやスピリッツに溶かし込み、液状の薬として用いたものが起源だといわれています。

蒸留酒が開発されて以来、ヨーロッパでは非常に多様なリキュールが製造されています。

代表的なものとしてはカシス（黒すぐり）の実の香味を付けたカシスリキュール、柑橘系の香味を付けたキュラソー、ももの香味を付けたピーチリキュールなどが挙げられるでしょう。

また複数の原料を用いることで複雑な香りや味わいを持つものもあります。

リキュールはアルコール度数が高く味や香りが強いものが多いことからカクテルの素材として使われることが一般的ですが、ロックやストレートで楽しめないというわけではありません。

ご自分の好きなリキュールを好きなスタイルで楽しむのが大切です。

*11　日本洋酒酒造組合「リキュールとは」
５．その他のよく見聞きするお酒
「そういえばカクテルって何なんだろう？」
「酎ハイとサワーは何が違うの？」
このように気になった方もいらっしゃるかもしれませんね。

カクテルと酎ハイ、サワーはいずれもお酒と別のものを混ぜ合わせた飲み物のことで、広い意味では酎ハイもサワーもカクテルの一種であるといえます。

ここでは、カクテルと酎ハイ、サワーについてご説明しましょう。

５-１．カクテル
カクテル
カクテルとは、お酒に別のお酒や何かを加え新しい味を作り出した飲み物のことです。

非常に漠然とした定義ですが、お酒とお酒を混ぜたものやお酒と果汁を混ぜたもの、お酒とソーダを混ぜたものなどさまざまなタイプがあります。

まずはカクテルの代表的な技法についてご説明しましょう。

「ステア」はグラスに氷と材料を入れ、バースプーン（柄が長くらせん状になっているスプーン）でかき混ぜる技法です。

カクテル作りの基本ともいえますね。

また「シェーカー」という器具に氷と材料を入れて振ってカクテルを作る技法を「シェーク」といいます。

一方、シェーカーなどを利用せず、グラスに材料を入れて直接作る方法は「ビルド」といいます。

その他にも材料をミキサーにかける「ブレンド」、フルーツなどで飾り付ける「デコレーション」などカクテルにはさまざまな技法があり、舌はもちろん、目でも楽しめるものも少なくありません。

カクテルは大きく分けて「ショート」と「ロング」に大別されます。

ショートカクテル
ショート・カクテルは、材料をシェークしたりステアしたりして、主に「カクテルグラス」という逆三角形に脚が生えた形のグラスで提供されます。

「カクテルの帝王」と呼ばれるマティーニもショートカクテルの一種です。

カクテルグラスは小さく、氷を入れずに提供されるため時間をかけず冷たいうちに味わうのがポイントです。

ロングカクテル
ロング・カクテルは細い円柱状のグラス「タンブラー」や背が低いロックグラスで氷を入れて楽しむコールドタイプと、お湯割りなどで温かい状態で楽しむホットタイプに大別できます。

ショートタイプに比べゆっくりと味わえますが、氷が溶けないうち、冷めないうちに味わうのがおすすめです。

ハイボールやジン・トニック、スクリュードライバーなどもロング・カクテルの一種だといえるでしょう。

[メモ]
本来はウイスキーをソーダで割ったものに限らず、お酒を炭酸飲料で割ったカクテル全般を「ハイボール」といいます。
５-２．サワー
サワー
居酒屋のメニューやコンビニなどで「サワー」という文字を見かけることもよくありますよね。

サワーはカクテルの一種です。

「酸っぱい」という意味の言葉に由来しており、スピリッツをベースとしてレモン果汁と砂糖などの酸味と甘味を加えたお酒全般を指します。

日本ではレモンサワーやライムサワー、シークヮーサーサワーなどがよく知られていますよね。

カクテルとしてはウイスキー・サワーやブランデー・サワーなどが代表的です。

５-３．酎ハイ
酎ハイ
酎ハイもカクテルの一種であるといえるでしょう。

酎ハイの語源は、焼酎の「酎」とハイボールの「ハイ」だといわれています。

厳密な定義や法律上の規定はなく、焼酎やウォッカなど癖のないスピリッツをベースとして果汁などを加え、炭酸で割ったものを指すことが一般的で、「サワー」との使い分けが曖昧になっています。

居酒屋などのメニューでは、緑茶ハイやウーロンハイなど、炭酸が含まれず焼酎などのスピリッツをお茶で割ったものも含めて酎ハイの一種として扱われている場合もあるかもしれませんね。

[メモ]
コンビニやスーパーなどで市販されているいわゆる「缶酎ハイ」は酒税法上、糖類や果汁などが含まれている割合によって「リキュール」と「スピリッツ」に分けられます。
６．まとめ
古今東西、さまざまな地域で多様なお酒が親しまれてきました。

お酒とは酵母菌が糖を分解する過程で発生する成分アルコールを含む飲み物のことで、酒税法上はアルコール分が1度以上のものと定義されています。

お酒は製法から大きく醸造酒・蒸留酒・混成酒の3種類に分けられます。

醸造酒は原料に含まれている糖を酵母菌に分解させて造られるもので、ワイン・ビールなどに代表されます。

日本特有の技法で作られる日本酒も醸造酒の一種です。

蒸留酒は醸造酒を蒸留して造られるお酒で、ウイスキーやブランデー、焼酎などが該当します。

またカクテルベースとして知られるジン・ウォッカ・ラム・テキーラなどのスピリッツも蒸留酒です。

混成酒は醸造酒や蒸留酒をもとにこれらを混ぜ合わせたり、糖類や香味料などを加えたりして造られるものです。

多様なリキュールは混成酒に分類できます。

また梅酒など、果実をお酒に漬けることで造られるお酒もリキュールの一種ということができ、混成酒の仲間です。

これらのさまざまなお酒に他の物を加え新たな味わいを楽しむための飲み物をカクテルといいます。

日頃見かけるサワーや酎ハイといった身近な飲み物も、カクテルの仲間だといえるでしょう。

お酒は自分のペースで、好きなように楽しむことが重要です。

いろんなお酒に挑戦し自分の舌に合うものを見つけてくださいね。

</font>
{% endblock %}
