<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!--
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
原則として、許可なしの再配布は禁止させていただきます。
また、無料でお使いになる場合は、【ＰＲ枠】のリンクは全て削除禁止です。
（※加工後の削除も禁止させていただいておりますのでご了承ください。）
PR枠の削除（有料プラン）に関するお問い合わせや、その他ご不明な点は、
http://www.s-hoshino.com/info.html、または、
https://www.megapx.com/contact.htmlのフォームよりお問い合わせください。
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>よくあるご質問　最新レスポンシブHTMLテンプレート no.001</title>
<meta name="Keywords" content="よくあるご質問,レスポンシブ,HTMLテンプレート,ホームページ制作" />
<meta name="Description" content="最新レスポンシブHTMLテンプレート no.001　よくあるご質問。このサイトの説明文を入れてください。" />
<link rel="stylesheet" href="style.css" />

<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
<link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body>

<header class="header_bg_03">

<div class="bg_bl"></div>

<h1><a href="index.html"><img src="img/logo.png" alt="メガピクス"></a></h1>

<div id="h_box_sp">
<div class="h_box">
<ul class="h_list">
    <li><a href="faq.html">よくあるご質問</a></li>
    <li><a href="company.html">会社概要</a></li>
    <li><a href="contact.html">お問い合わせ</a></li>
</ul>
<ul class="h_lang">
    <li><a href="#" class="selected">日本語</a></li>
    <li><a href="#">ENGLISH</a></li>
</ul>
</div>
<div class="h_tel"><a href="tel:123-456-7890"><i class="fas fa-phone"></i>123-<strong>456-7890</strong></a></div>
<div class="h_btn">
<a href="contact.html">ご予約・ご購入</a>
</div>
</div>


<div class="menu_btn">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
</div>

<nav id="g_navi">
    <ul class="navi_base">
    <li><a href="index.html">HOME</a></li>
      <li><a class="ac_menu">商品のご案内</a>
      <div class="ac_list">
      <ul>
      <li><a href="list.html">商品一覧</a></li>
      <li><a href="sub.html">商品Aについて</a></li>
      <li><a href="sub.html">商品Bについて</a></li>
      <li><a href="sub.html">商品Cついて</a></li>
      <li><a href="sub.html">商品Dについて</a></li>
      </ul>
      </div>
      </li> 
      <li><a class="ac_menu">店舗のご案内</a>
      <div class="ac_list">
      <ul>
      <li><a href="sub.html">北軽井沢本店</a></li>
      <li><a href="sub.html">川崎支店</a></li>
      <li><a href="sub.html">須走支店</a></li>
      <li><a href="sub.html">鳥栖支店</a></li>
      <li><a href="sub.html">八王子支店</a></li>
      <li><a href="sub.html">いすみ支店</a></li>
      </ul>
      </div>
      </li>  
      <li><a href="staff.html">スタッフ紹介</a></li>
      <li><a href="sub.html">お客様の声</a></li>
      <li><a href="contact.html">ご予約・ご購入</a></li>
    </ul>
</nav>
</header>

<div class="pankuzu effect">
<ul>
<li><a href="index.html">HOME</a></li>
<li>よくあるご質問</li>
</ul>
</div>


<div class="content">

<section class="main_cont effect d_02">
<h2 class="h2_title_01"><i class="fas fa-comments"></i>よくあるご質問<span>FAQ</span></h2>
<dl class="dl_faq">
<dt>よくある質問、確認用サンプル質問になります。</dt>
<dd>よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。</dd>
<dt>よくある質問、確認用サンプル質問になります。</dt>
<dd>よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。</dd>
<dt>よくある質問、確認用サンプル質問になります。</dt>
<dd>よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。</dd>
<dt>よくある質問、確認用サンプル質問になります。</dt>
<dd>よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。</dd>
<dt>よくある質問、確認用サンプル質問になります。</dt>
<dd>よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。よくある質問、確認用の回答サンプルになります。</dd>
</dl>
</section>

<section class="contact effect d_04">
<h2><i class="far fa-envelope-open"></i>お問い合わせ</h2>
<p>下記よりお気軽にお問い合わせください。</p>
<div class="tel"><a href="tel:1234567890"><i class="fas fa-phone"></i>123-<strong>456-7890</strong></a></div>
<div class="btn_contact"><a href="contact.html"><i class="fas fa-envelope"></i>お問い合わせフォーム</a></div>
</section>

</div>

<footer>

<div class="footer_box clfix">
<div class="box_in">
    
<ul>
      <li>
      <div class="li_title">商品のご案内</div>
      <ul>
      <li><a href="list.html">商品一覧</a></li>
      <li><a href="sub.html">商品Aについて</a></li>
      <li><a href="sub.html">商品Bについて</a></li>
      <li><a href="sub.html">商品Cついて</a></li>
      <li><a href="sub.html">商品Dについて</a></li>
      </ul>
      </li>
</ul>

<ul>
      <li><div class="li_title">店舗のご案内</div>
      <ul>
      <li><a href="sub.html">北軽井沢本店</a></li>
      <li><a href="sub.html">川崎支店</a></li>
      <li><a href="sub.html">須走支店</a></li>
      <li><a href="sub.html">鳥栖支店</a></li>
      <li><a href="sub.html">八王子支店</a></li>
      <li><a href="sub.html">いすみ支店</a></li>
      </ul>
      </li>
</ul>
<ul>
      <li><a href="staff.html">スタッフ紹介</a></li>
      <li><a href="sub.html">お客様の声</a></li>
      <li><a href="contact.html">ご予約・ご購入</a></li>
      <li><a href="faq.html">よくあるご質問</a></li>
    <li><a href="company.html">会社概要</a></li>
    <li><a href="contact.html">お問い合わせ</a></li>
</ul>

<div class="foot_right">
<p>株式会社サンプルコーポレーション<br>
〒123-4567 見本県見本市見本町1-23-4<br>
TEL 123(456)7890　FAX 123(456)7890<br>
E-MAIL info@sample-corp.co.jp</p>
</div>

</div><!--/box_in-->
</div><!--/footer_box-->


<img src="img/logo.png" alt="メガピクス　ロゴ" class="foot_logo">
<address>copyright (c) MegaPx Allrights reserved.</address>

</footer>

<!--　削除禁止【ＰＲ枠】ここから　--> 
<!--prno.180216ver2.01set018--> 
<div class="box_pr"><ul>
<li>Design by <a href="https://www.megapx.com/" title="ホームページ制作・ロゴデザイン：メガピクス" target="_blank">Megapx</a></li>
<li>Template by <a href="http://www.s-hoshino.com/" title="HTMLテンプレート配布元：フリー素材屋Hoshino" target="_blank">s-hoshino.com</a></li>
</ul></div>
<!--　/削除禁止【ＰＲ枠】ここまで　--> 

<div id="to_top"><a href="#"><img src="img/i_pagetop.png" alt="ページトップへ戻る" ></a></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="jquery.inview.min.js"></script>
<script src="script.js"></script>

</body>
</html>
