{% extends "/test/layout1.html" %}
{% block  test11 %}

<section class="main_cont effect d_02">
    <h2 class="h2_title_01"><i class="far fa-copy"></i>商品一覧<span>Product list</span></h2>
    <div class="cont_list">
        <div class="list_box">
            <h3>サンプル商品A01</h3>
            <a href="#"><img src="img/sample_001.jpg" alt="サンプルメージ"></a>
            <p>確認用のサンプルになります。適当な写真と文言に差し替えてお使いください。</p>
            <a href="#" class="btn_more">詳細を見る</a>
        </div>

        <div class="list_box">
            <h3>サンプル商品A02</h3>
            <a href="#"><img src="img/sample_002.jpg" alt="サンプルメージ"></a>
            <p>確認用のサンプルになります。適当な写真と文言に差し替えてお使いください。</p>
            <a href="#" class="btn_more">詳細を見る</a>
        </div>

        <div class="list_box">
            <h3>サンプル商品A03</h3>
            <a href="#"><img src="img/sample_003.jpg" alt="サンプルメージ"></a>
            <p>確認用のサンプルになります。適当な写真と文言に差し替えてお使いください。</p>
            <a href="#" class="btn_more">詳細を見る</a>
        </div>

        <div class="list_box">
            <h3>サンプル商品A04</h3>
            <a href="#"><img src="img/sample_002.jpg" alt="サンプルメージ"></a>
            <p>確認用のサンプルになります。適当な写真と文言に差し替えてお使いください。</p>
            <a href="#" class="btn_more">詳細を見る</a>
        </div>

        <div class="list_box">
            <h3>サンプル商品A05</h3>
            <a href="#"><img src="img/sample_003.jpg" alt="サンプルメージ"></a>
            <p>確認用のサンプルになります。適当な写真と文言に差し替えてお使いください。</p>
            <a href="#" class="btn_more">詳細を見る</a>
        </div>

        <div class="list_box">
            <h3>サンプル商品A06</h3>
            <a href="#"><img src="img/sample_001.jpg" alt="サンプルメージ"></a>
            <p>確認用のサンプルになります。適当な写真と文言に差し替えてお使いください。</p>
            <a href="#" class="btn_more">詳細を見る</a>
        </div>
        <div class="list_box">
            <h3>サンプル商品A07</h3>
            <a href="#"><img src="img/sample_001.jpg" alt="サンプルメージ"></a>
            <p>確認用のサンプルになります。適当な写真と文言に差し替えてお使いください。</p>
            <a href="#" class="btn_more">詳細を見る</a>
        </div>
        <div class="list_box">
            <h3>サンプル商品A08</h3>
            <a href="#"><img src="img/sample_001.jpg" alt="サンプルメージ"></a>
            <p>確認用のサンプルになります。適当な写真と文言に差し替えてお使いください。</p>
            <a href="#" class="btn_more">詳細を見る</a>
        </div>
    </div>
</section>
{% endblock %}